@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}

	.cards-wrapper {
		@apply 500:grid-cols-3 1200:grid-cols-3 grid grid-cols-2 justify-items-center gap-x-4 gap-y-8 900:grid-cols-4 lg:grid-cols-2 2xl:grid-cols-4;
	}
	/* .cards-wrapper {
		@apply my-8 grid grid-cols-2 place-items-center gap-4 bg-red-200 sm:grid-cols-3 sm:gap-8 md:grid-cols-4 md:gap-12 lg:grid-cols-2 lg:gap-8 xl:grid-cols-4;
	} */
}

@layer base {
	:root {
		--header: 56px;
		--bottom-navbar: 48px;
		--sidebar: 240px;
		@media screen and (min-width: 1024px) {
			--sidebar: 300px;
		}
	}
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply mb-8 scroll-m-20 text-4xl font-light tracking-tight lg:text-5xl;
	}

	h2 {
		@apply mb-6 mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
	}

	h3 {
		@apply mb-4 scroll-m-20 text-2xl font-semibold tracking-tight;
	}

	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
}

/*svg {*/
/*	@apply h-6 w-6;*/
/*}*/

/* form styles */
[data-fs-legend] {
	@apply flex items-center gap-1 bg-primary/5 py-2 pe-4 ps-2 text-base before:aspect-square before:w-1 before:bg-primary;
}

.form-wrapper {
	@apply space-y-6;
}

[type='file'] {
	@apply block w-full border border-secondary text-sm text-primary/50 file:mr-4 file:rounded-md file:border-0 file:bg-primary/5 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-primary/80 hover:file:bg-primary/10;
}

/* .highlighted {
	@apply bg-primary;
} */
