@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.3rem;

		/* added by anas */
		--header: 52px;
		--sidebar: 240px;
	}
	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply mb-8 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}

	h2 {
		@apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
	}

	h3 {
		@apply mb-4 scroll-m-20 text-2xl font-semibold tracking-tight;
	}

	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
}

svg {
	@apply h-6 w-6;
}

/* form styles */
[data-fs-legend] {
	@apply flex items-center gap-1 bg-primary/5 py-2 pe-4 ps-2 text-base before:aspect-square before:w-1 before:bg-primary;
}

.form-wrapper {
	@apply space-y-6;
}

[type='file'] {
	@apply block w-full border border-secondary text-sm text-primary/50 file:mr-4 file:rounded-md file:border-0 file:bg-primary/5 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-primary/80 hover:file:bg-primary/10;
}
